# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Backup files
*~

# Autotools stuff
autom4te.cache
.deps
config.log
config.status
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
missing
ylwrap
test-driver

